@model MvcApplication1.Models.PaymentViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Payment Method</h2>

@using (Html.BeginForm("Index", "Payment", FormMethod.Post, new {id = "form1", @class="well" }))
{
    @Html.ValidationSummary()
    
    <form class="well form-search">
        <div class="container">
            <input type="text" class="search-query" placeholder="enter search key words" />
            <div class="row">
                <div class="col-sm-6 greenback">hola</div>
                <div class="col-sm-6 yellowback">yohla</div>
            </div>
            <div class="row">
                <div class="col-sm-8 orangeback">this is 8 columns</div>
                <div class="col-sm-4 greenback">this has 4 columns</div>
            </div>
        </div>
    </form>
    
    <p>Please select your payment method:</p>

    @Html.DropDownListFor(m => m.SelectedPaymentMethod,
    new SelectList(Model.PaymentMethods, "Id", "Name"), "Please select a payment method")

    Html.RenderPartial("_Address", Model.Address);
    <hr />
    <div>
        @{
    var s = Html.Partial("_Address", Model.Address);

    @Html.Raw(s.ToHtmlString().Replace("City", "Chengshi").Replace("MD", "Maryland")
            );

        }
    </div>
    <hr />
    <div>
        @Html.Action("GetAddress", "Home")
    </div>
    <hr />
    <div>
        <p>Using display template below:</p>
        @Html.DisplayFor(m => m.Address)
    </div>
    <div>
        <p>Using editor template below:</p>
        @Html.EditorFor(m => m.Address)
    </div>

    <div>
        <input type="submit" value="Submit" name="Submit" />
    </div>
}