@model MvcApplication1.Models.FinAidRegViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Fin Aid Reg</h2>
<p>
    Test
</p>

@using (Html.BeginForm("Index", "FinAidReg"))
{
    <div>
        @Html.ValidationSummary()
    </div>
    
    <h3>Student List</h3>
    <table border="1">
        <tr>
            <th class="student-id"></th>
            <th>Id</th>
            <th>First Name</th>
            <th>Program Id</th>
        </tr>
        @for (int i = 0; i < Model.Students.Count; i++)
        {
            <tr>
                <td class="student-id">
                    @Html.RadioButtonFor(m => m.SelectedStudentId, Model.Students[i].Id, new { @class = "student-id", name="student" })
                </td>
                <td>
                    @Html.DisplayFor(m => m.Students[i].Id)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Students[i].FirstName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Students[i].ProgramId)
                </td>
            </tr>
        }

    </table>
    
    <div>
        <h3>Fin Aid Types</h3>
        @for (int i = 0; i < Model.FinAids.Count; i++)
        {
            @Html.RadioButtonFor(m => m.SelectedFinAidId, Model.FinAids[i].Id, new { name = "fin-aid" }) @Model.FinAids[i].Name <br />
        }
    </div>

    <div>
        <input type="submit" name="submit" value="Submit" />
        <input type="button" name="cancel" value="Cancel" />
    </div>
}

